<!-- app/templates/home.html -->
{% extends "base.html" %}
{% block content %}
<div class="hero-section">
    <div class="hero-content">
        <div class="hero-text-left">
            <h1>ciêntista de dados</h1>
        </div>
        <img src="{{ url_for('static', filename='img/suafoto.png') }}" alt="Sua Foto" class="profile-pic">
        <div class="hero-text-right">
            <h1>&lt;coder&gt;</h1>
        </div>
    </div>
    <p>Especialista em análise de dados e apaixonado por estatística e programação.</p>
</div>

<div class="skills-section">
    <h2>O que posso fazer</h2>
    <p>Aqui abaixo está um pouco da minha experiência com as principais ferramentas de Data Science e projetos que construí ao longo da minha carreira</p>
    <div class="skills">
        <div class="skill">
            <img src="{{ url_for('static', filename='img/python_icon.png') }}" alt="Python Projects">
            <h3>Python Projects</h3>
            <ul>
                <li>Análise Preditiva</li>
                <li>Análise Estatística</li>
                <li>Criação de Modelos de Machine Learning para análise de dados</li>
                <li>Dashboards Estatísticos</li>
                <li>Automação de Processos com Python</li>
                <li>Desenvolvimento de Aplicações Web com Flask</li>
                <li>Integração com APIs de terceiros</li>
            </ul>
        </div>

        <div class="skill">
            <img src="{{ url_for('static', filename='img/datascience.svg') }}" alt="Ciência de Dados">
            <h3>Ciência de Dados</h3>
            <ul>
                <li>Estruturar base de dados através do Google BigQuery, AWS Cloud, MySQL, PostgreSQL, SQL Server e MongoDB</li>
                <li>Manipulação de dados e organização dos mesmos</li>
                <li>Desenvolver dashboards interativos com PowerBI e Data Studio (Looker Studio)</li>
                <li>Análise de Dados e Geração de Insights</li>
                <li>Modelagem Estatística e Predição</li>
                <li>Visualização de Dados com Matplotlib e Seaborn</li>
                <li>Implementação de Pipelines de ETL</li>
            </ul>
        </div>
        <div class="skill">
            <img src="{{ url_for('static', filename='img/bi.svg') }}" alt="Business Intelligence Senior">
            <h3>Business Intelligence Senior</h3>
            <ul>
                <li>Gerenciamento de Dados</li>
                <li>Estudos e práticas de inteligência de negócios voltada a otimizações de campanhas e performance</li>
                <li>ETL com escopo voltado às plataformas Google Cloud</li>
                <li>Configuração, estudo e aprimoramento de análise de comportamento dos usuários através do Google Tag Manager</li>
                <li>Python para análise estatísticas e preditivas</li>
                <li>Aprendizado de Máquina voltado à análise de performance em campanha, tomadas de decisões e métricas de plataformas digitais</li>
                <li>Monitoramento através de ferramentas de visualização e data visualization</li>
                <li>Criação de dashboards</li>
                <li>Automatização de processos usando Javascript e Python</li>
                <li>Organização e mesclagem de banco de dados</li>
                <li>Reuniões estratégicas com clientes trazendo o escopo de análises e diagnósticos de performance</li>
            </ul>
        </div>
    </div>
    <a href="#projetos" class="projects-btn">Acesse aqui meus projetos</a>
</div>

<div class="work-showcase" id="projetos">
    <h2>Alguns dos meus trabalhos mais recentes</h2>
    <div class="work-items">
        <div class="work-item">
            <img src="{{ url_for('static', filename='img/projeto1.png') }}" alt="Trabalho 1">
            <h3>Projeto 1</h3>
            <p>Descrição do projeto 1.</p>
        </div>
        <div class="work-item">
            <img src="{{ url_for('static', filename='img/projeto2.png') }}" alt="Trabalho 2">
            <h3>Projeto 2</h3>
            <p>Descrição do projeto 2.</p>
        </div>
        <div class="work-item">
            <img src="{{ url_for('static', filename='img/projeto3.png') }}" alt="Trabalho 3">
            <h3>Projeto 3</h3>
            <p>Descrição do projeto 3.</p>
        </div>
    </div>
    <button id="more-projects-btn">Mais Projetos</button>
</div>
{% endblock %}
